/* основной #212121 */
/* второстепенный #2196F3 */
/* дополнительный #fff */
/* задний фон #E5E5E5; */
:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  background-color: var(--background-color);
}

ul {
  list-style: none;
}
/* Header */
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo-navigation {
  color: #000;
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--brand-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

  .contact-header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
}
.contact-header a:focus,
.contact-header a:hover {
  color: var(--accent-color);
}


}

}
/* Main prortfolio */

.filter-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  ext-align: center;
letter-spacing: 0.03em;
var(--brand-color);
background-color:#F5F4FA;
cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.project p {
  color:#757575;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
.project h2 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

/* Footer */
footer {
  background-color: #2F303A;
}
.logo-navigation-footer {
color: #ffffff;
}
.contact-footer p {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.contact-footer a {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
/* Main Studio */
